* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.entry {
    background-color: aqua;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wetter-app {
    background-color: rgb(0, 133, 133);
    padding: 25px;
    border-radius: 5px;
}

.wetter-app h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 56, 56);
}

.spn {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}